.App {
  text-align: center;
}

.heading {
  font-family: 'Arial, sans-serif';
  color: rgb(255, 224, 72);
  text-decoration: underline;
  font-size: 46px;
}

.search-bar {
  width: 50%;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 6px 4px;
  margin-bottom: 20px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pokemon-card {
  width: 150px;
  text-align: center;
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 10px;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 1px;
}